name: Auto Assign Author

on:
  pull_request:
    types: [opened]

jobs:
  assign:
    name: Assign author to PR
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Assign author to PR
        uses: technote-space/assign-author@v1
